{
  "DEFAULT_LOGGER": "perf_wshop_profiler",
  
  "logger": {
    "OpenEdge": {
      "logLevel": "OFF",
      "filters": ["VOID_WRITER"]
    },
    "perf_wshop_profiler": {
      "logLevel": "INFO",
      "filters": [
        "ABL_SUBSTITITE_FORMAT",
        "ERROR_FORMAT",
        "FORMATTED_DATE",
        {
          "name": "NAMED_FILE_WRITER",
          "fileName": "${session.temp-dir}/profiler_lab.log",
          "appendTo": false
        }
      ]
    }
  },
  
  "filter": {
    "FORMATTED_DATE": "Example.Logging.SlowFilter"
  }
} 